body {
  background-color: #b19cd9;
  font-family: "Montserrat", sans-serif;
}

.credits {
  font-size: 0.5rem;
}

#mainNav {
  font-size: 1.5rem;
  font-weight: 200;
}

#mainNav .navbar-brand {
  color: #4b0082;
  font-weight: 600;
}

#mainNav .nav-link {
  color: #ffffff;
}

#mainNav .nav-link:hover {
  color: #4b0082;
}
